openapi: 3.2.0
info:
  title: Scrapingant Usage API
  description: 'The only 2 things needed to start working with ScrapingAnt API: URL you''d like to scrape, and the API key. Provide them to /v2/general GET endpoint, and you''ll get the scraped content.

    To send a POST / PUT / DELETE / PATCH request to the target url, send the POST / PUT / DELETE / PAST request to the main endpoint with your x-api-key and url parameters.'
  version: v2
  x-logo:
    url: https://fastapi.tiangolo.com/img/logo-margin/logo-teal.png
servers:
- url: https://api.scrapingant.com
  description: Production ScrapingAnt API
tags:
- name: Usage
paths:
  /v2/usage:
    get:
      summary: Scrapingant Usage
      operationId: scrapingant_usage_v2_usage_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGeneralUsageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - in: query
        name: x-api-key
        required: true
        schema:
          type: string
        description: API token, required for authentication. You can find your API token on the dashboard page in the user's admin panel.
      description: Get current status of API credits usage
      tags:
      - Usage
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ApiGeneralUsageResponse:
      properties:
        plan_name:
          type: string
          title: Plan Name
        start_date:
          type: string
          format: date-time
          title: Start Date
        end_date:
          type: string
          format: date-time
          title: End Date
        plan_total_credits:
          type: integer
          title: Plan Total Credits
        remained_credits:
          type: integer
          title: Remained Credits
      type: object
      required:
      - plan_name
      - start_date
      - end_date
      - plan_total_credits
      - remained_credits
      title: ApiGeneralUsageResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
