openapi: 3.2.0
info:
  title: ScrapingAnt Usage API
  description: ScrapingAnt web scraping API. Harvested verbatim from the provider's published OpenAPI at https://api.scrapingant.com/openapi.json
    on 2026-08-29 and refined into one document per tag. The original document declares no tags and reuses a single
    operationId across all five HTTP methods on /v2/general; unique operationIds were assigned here and the divergence
    is recorded in overlays/scrapingant-scraping-api-overlay.yaml. No operation, parameter, response or schema was
    added, removed or altered.
  version: v2
servers:
- url: https://api.scrapingant.com
  description: Production ScrapingAnt API
security:
- ApiKeyAuth: []
tags:
- name: Usage
paths:
  /v2/usage:
    get:
      summary: Scrapingant Usage
      operationId: scrapingant_usage_v2_usage_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGeneralUsageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - in: query
        name: x-api-key
        required: true
        schema:
          type: string
        description: API token, required for authentication. You can find your API token on the dashboard page in
          the user's admin panel.
      description: Get current status of API credits usage
      tags:
      - Usage
components:
  schemas:
    ApiGeneralUsageResponse:
      properties:
        plan_name:
          type: string
          title: Plan Name
        start_date:
          type: string
          format: date-time
          title: Start Date
        end_date:
          type: string
          format: date-time
          title: End Date
        plan_total_credits:
          type: integer
          title: Plan Total Credits
        remained_credits:
          type: integer
          title: Remained Credits
      type: object
      required:
      - plan_name
      - start_date
      - end_date
      - plan_total_credits
      - remained_credits
      title: ApiGeneralUsageResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: x-api-key
      description: ScrapingAnt API key, passed as the x-api-key query parameter. The provider also accepts it as
        an x-api-key request header (docs.scrapingant.com/request-response-format).
